<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.badrul.user.machbazarfinalver5">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home" />
        <activity
            android:name=".Menu"
            android:theme="@style/Menuu" />
        <activity
            android:name=".Memo"
            android:label="@string/cart_title" />
        <activity
            android:name=".About"
            android:label="@string/mAbout"
            android:parentActivityName=".Menu" />
        <activity
            android:name=".ContactDet"
            android:label="@string/mContact"
            android:parentActivityName=".Menu" />
        <activity android:name=".Invoice"></activity>
    </application>

</manifest>